.nav-wrapper {
    background-color: white;
    
}
nav .brand-logo {
    color: #d50000;
}
nav ul a {
    color: #d50000;
}
.bannerImage {
    position: absolute;
    height: 200px;
    top: 67px;
    border-bottom: 50px;
}


#location-button{
    float: right;
   }
  
   
   #map {
       height: 100%;
     }
     /* Optional: Makes the sample page fill the window. */
     html, body {
       height: 100%;
       margin: 0;
       padding: 0;
     }
     #map-panel {
       font-family: 'Roboto','sans-serif';
       line-height: 30px;
       padding-left: 10px;
     }
     
     #map-panel select, #map-panel input {
       font-size: 15px;
     }
     
     #map-panel select {
       width: 100%;
       height: 100%;
     }
     
     #map-panel i {
       font-size: 12px;
     }
     #map-panel {
        align-self: center;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        top: 60%;
        margin-top: -50px;
        height: 75%;
        width: 85%;
        right: 4%;
        padding: 5px;
        z-index: 5;
        border: 1px solid #999;
        background: #fff;
     }
     h4 {
       font-size: 2.25rem;
       margin: 0 0 5px 0;
       text-align: center;
     }
     ul {
       list-style-type: none;
       padding: 0;
       margin: 0;
       height: 271px;
       width: 100%;
       overflow-y: scroll;
     }
     li {
       background-color: #f1f1f1;
       padding: 10px;
       text-overflow: ellipsis;
       white-space: nowrap;
       overflow: hidden;
     }
     li:nth-child(odd) {
       background-color: #fcfcfc;
     }

     #more {
       width: 100%;
       margin: 5px 0 0 0;
       background-color: #d50000;
       color: white;
       margin-bottom: 10px;
     }