.nav-wrapper {
    background-color: white;
    
}
nav .brand-logo {
    color: #d50000;
}
nav ul a {
    color: #d50000;
}
.image-row{
    margin-top: 3px;
}
i.medium {
    color: #d50000;
}
.btn{
    background-color: rgba(109, 114, 117, 0.795);
    width: 100%;
}
.btn:hover {
    background-color: rgb(109, 114, 117);
}
/* .bannerImage {
    position: absolute;
    height: 200px;
    top: 67px;

} */
#boxes {
    position: relative;

    top: 300px;
    height: 100px;
    width: 100px;
}
/* .container  {
    position: flex;
    flex-direction: row;

} */
.page-footer {
    background-color: white;
}
.white-text {
    color: #d50000 !important; 
}
.grey-text.text-lighten-3 {
    color: #d50000 !important;
}
.grey-text.text-lighten-4 {
    color: #d50000 !important;
} 
.copyright {
    color: #d50000 !important;
}
.blankspace {
    width: 336px;
    height: 466px;
}
.loginform {
    height: 466px;
    border: solid grey;
}
.signupform {
    border: solid grey;
}
/* #message {
    border: solid grey;
    background-color: white;
} */
#name {
    border: solid grey;
    background-color: white;
    width: 980px;
    height: 51px;
}
#email {
    border: solid grey; 
    background-color: white;
    width: 980px;
}
.contactform {
    border: solid grey;
}
.dashboard {
    border: solid grey;
}
.banner {
    border: solid grey;
}
/* .medications-block {
    border: solid grey;
    height: 200px;
} */

/*     border-bottom: 50px;
} */


#location-button{
    float: right;
   }
  
   
   #map {
       height: 100%;
     }
     /* Optional: Makes the sample page fill the window. */
     html, body {
       height: 100%;
       margin: 0;
       padding: 0;
     }
     #map-panel {
       font-family: 'Roboto','sans-serif';
       line-height: 30px;
       padding-left: 10px;
     }
     
     #map-panel select, #map-panel input {
       font-size: 15px;
     }
     
     #map-panel select {
       width: 100%;
       height: 100%;
     }
     
     #map-panel i {
       font-size: 12px;
     }
     #map-panel {
        align-self: center;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        top: 60%;
        margin-top: -50px;
        height: 75%;
        width: 85%;
        right: 4%;
        padding: 5px;
        z-index: 5;
        border: 1px solid #999;
        background: #fff;
     }
     h4 {
       font-size: 2.25rem;
       margin: 0 0 5px 0;
       text-align: center;
     }
     ul {
       list-style-type: none;
       padding: 0;
       margin: 0;
       height: 271px;
       width: 100%;
       overflow-y: scroll;
     }
     li {
       background-color: #f1f1f1;
       padding: 10px;
       text-overflow: ellipsis;
       white-space: nowrap;
       overflow: hidden;
     }
     li:nth-child(odd) {
       background-color: #fcfcfc;
     }

     #more {
       width: 100%;
       margin: 5px 0 0 0;
       background-color: #d50000;
       color: white;
       margin-bottom: 10px;
     }
